.row-review {
  margin-top: 50px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: $ladle;
}

.show-banner{
  height: 400px
}

.booking-form h2 {
  color: white;
  font-weight: bolder;
  background-color: $ladle;
  padding: 10px;
  border-radius: 10px;
}

.booking-form {
  border: 2px solid $ladle;
  padding: 10px;
  border-radius: 10px;
}

.reviews h2 {
  color: white;
  font-weight: bolder;
  background-color: $ladle;
  padding: 10px;
  border-radius: 10px;
}

.reviews {
  height: 388px;
  border: 2px solid $ladle;
  padding: 10px;
  border-radius: 10px;
}

.review {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
