.row-review {
  margin-top: 50px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: $ladle;
}

.show-banner{
  height: 400px
}

.booking-title {
}


.reviews-list {
  border: 5px black;
}
