<h1>Flats</h1>

<div>
    <% @flats.each do |flat| %>
    <h2><%= flat.title %></h2>
    <p><em><%= flat.description%></em></p>

    <%= cl_image_tag(flat.photo,
      width: 400, height: 300, crop: :fill) %>

    <%= link_to "View Flat", flat_path(flat) %>
    <hr>
    <% end %>
</div>

