<h1>Flats</h1>

<div class="card-trip">
    <img src="">
      <div class="card-trip-infos">
        <div>
        <% @flats.each do |flat| %>
        <h2><%= flat.title %></h2>
        <p><%= flat.description%></p>
        <p><%= flat.price %>
        <%= link_to "View Flat", flat_path(flat) %>
      <hr>
    <% end %>
  </div>
  </div>
</div>
