<h1>Flats</h1>

<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="card">
        <h2><%= flat.title %></h2>
        <p><%= flat.description%></p>
        <p><%= flat.price %></p>
        <%= link_to "View Flat", flat_path(flat) %>
      </div>
    <% end %>
  </div>
</div>
