.footer {
  background-color: white;
  color: white;
  font-size: 20px;
  text-align: center;
  align-content: space-between;
  padding-bottom: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.footer p {
  color: $ladle;
}

