.content {
  display: flex;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 90vh;
  width: 60vh;
  position: sticky;
  top: 70px;
}

.map-container {
  display: flex;
}

// MEDIA QUERIES---------------------------------------------------------------------------

// Device = Desktops
// Screen = 1281px to higher resolution desktops
@media (min-width: 1281px) {
 .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
}

// Device = Laptops, Desktops
// Screen = B/w 1025px to 1280px
@media (min-width: 1025px) and (max-width: 1280px) {
.cards-container {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
}

// Device = Tablets, Ipads (portrait)
// Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px) {
.cards-container {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: block;
  }
}

// Device = Tablets, Ipads (landscape)
// Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.cards-container {
    grid-template-columns: 1fr;
  }
  #map {
    display: block;
  }
}

// Device = Low Resolution Tablets, Mobiles (Landscape)
// Screen = B/w 481px to 767px
@media (min-width: 481px) and (max-width: 767px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

// Device = Most of the Smartphones Mobiles (Portrait)
// Screen = B/w 320px to 479px
@media (min-width: 320px) and (max-width: 480px) {
.cards-container {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}
