.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-container {
  width: 40%;
  display: flex;
}

#map {
  height: 100vh;
  width: 100vh;
  position: fixed;
  top: 70px;
}

#map.sticky{
  position: -webkit-sticky;
  position: sticky;
}

@media (min-width: 100px) and (max-width: 700px) {
  #map {
    display: none;
  }
}

