.navbar-whole {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

  .navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.ladle-btn {
  background-color: $ladle ;
  padding: 0;
  margin-right: 13px;
  margin-left: 5px;
  width: 77px;
  height: 40px;
  border-radius: 8px;
}

.ladle-btn:hover {
  background-color: #FFB6C1;
  border: 1px solid $ladle;
}
